/* FORMULARIO--------------------------------------------------------------------- */
.formulario {
    flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      gap: 30px;
  }
  
  .formulario h2 {
    font-size: 24px;
  }
  
  form {
      display: flex;
      width: 80%;
      flex-direction: column;
      gap: 20px;
  }
  
  form input {
    border: 2px solid;
    width: 100%;
    height: 30px;
    border-color: #5300c8;
    border-radius: 20px;
    font-size: 15px;
    color: #5300c8;
    padding-left: 10px;
  }
  
  .botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  
  .boton_formulario {
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    background-color: #5300c8; 
    color: white; 
    border: 2px solid white; 
    border-radius: 15px;
    padding: 10px 20px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .boton_formulario:hover {
    background-color: white; 
    color: #5300c8; 
    border: 2px solid #5300c8;
  }
  